<!-- prettier-ignore -->
{% set special_message_type = ["secondary", "success", "danger", "warning",
"info", "light", "dark"] %}

<!-- prettier-ignore -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<!-- MESSAGE -->
{% if message_float is defined and message_float is true %}
<div id="message-wrapper">
  {% endif %}
  <!-- prettier-ignore -->
  {% for category, message in messages %}
  {% set category = category if category in special_message_type else 'primary' %}
  <div
    id="main-alert"
    class="alert alert-{{ category }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}
  <!-- prettier-ignore -->
  {% if message_float is defined and message_float is true %}
</div>
{% endif %}
<!-- END MESSAGE -->
{% endif %}

<!-- prettier-ignore -->
{% endwith %}
