<!-- STICKY NAVBAR -->
<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a
        id="navbar-main"
        class="navbar-brand"
        href="{{ url_for('main.dashboard') }}"
      >
        <img
          id="hero"
          src="{{ url_for('static', filename='img/tubee_text.png') }}"
          class="d-inline-block align-top"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbars"
        aria-controls="navbars"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if title == 'Subscriptions' }}"
              href="{{ url_for('main.dashboard') }}"
            >
              Subscriptions
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if title == 'Tags' }}"
              href="{{ url_for('tag.listing') }}"
            >
              Tags
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if title == 'Actions' }}"
              href="{{ url_for('action.listing') }}"
            >
              Actions
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if title == 'YouTube Subscription' }}"
              href="{{ url_for('main.youtube_subscription') }}"
            >
              Import
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if title == 'Videos' }}"
              href="{{ url_for('main.video') }}"
            >
              Videos
            </a>
          </li>
          {% if current_user.admin is defined and current_user.admin %}
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if title == 'Admin Dashboard' }}"
              href="{{ url_for('admin.dashboard') }}"
            >
              Admin
            </a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown_user"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{ current_user.username }}</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown_user">
              <a class="dropdown-item" href="{{ url_for('user.setting') }}"
                >Setting</a
              >
              <a class="dropdown-item" href="{{ url_for('user.logout') }}"
                >Logout</a
              >
            </div>
          </li>
          {% else %}
          <li class="nav-item {{ 'active' if title == 'Login' }}">
            <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
          </li>
          <li class="nav-item {{ 'active' if title == 'Register' }}">
            <a class="nav-link" href="{{ url_for('user.register') }}"
              >Register</a
            >
          </li>
          {% endif %}
        </ul>
        <form id="subscribe-form" class="d-flex">
          <input
            type="text"
            id="channel_id"
            name="channel_id"
            class="form-control me-2"
            placeholder="Channel Name or ID"
            aria-label="Channel Name or ID"
            required
          />
          <button
            class="btn btn-success my-2 my-sm-0"
            onclick="$(this).buttonAPI()"
            data-api="api_subscription.create"
            data-api-method="POST"
            data-form-id="subscribe-form"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
<!-- END STICKY NAVBAR -->
