[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
coverage = "*"
watchdog = "*"
rope = "*"
pyyaml = "*"
argh = "*"
flask-shell-ipython = "*"

[packages]
Authlib = "*"
beautifulsoup4 = "*"
celery = "*"
click = "*"
dropbox = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
gunicorn = "*"
lxml = "*"
pushover-complete = "*"
python-dateutil = "*"
requests = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Moment = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
psycopg2 = "*"
pyRFC3339 = "*"
python-dotenv = "*"
redis = "*"
Werkzeug = "*"
WTForms = "*"
youtube-dl = "*"

[requires]
python_version = "3.7"
