[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"

[packages]
alembic = "*"
bcrypt = "*"
beautifulsoup4 = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
coverage = "*"
cryptography = "*"
dropbox = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
itsdangerous = "*"
lxml = "*"
mysqlclient = "*"
oauth2client = "*"
oauthlib = "*"
pushover-complete = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
soupsieve = "*"
tzlocal = "*"
uritemplate = "*"
urllib3 = "*"
Authlib = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Moment = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
pyRFC3339 = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
python-dotenv = "*"
youtube-dl = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
