body {
    padding-top: 5rem;
}

span.line {
    display: inline-block;
}

#hero {
    height: 2rem;
}

#alert-wrapper {
    position: sticky;
    top: 100px;
    z-index: 1;
    height: 0;
}

@media (min-width: 992px) {
    #username {
        margin-right: 1rem;
    }
}