# Flask
SERVER_NAME=
SECRET_KEY=

# SQL
POSTGRES_USER=tubee
POSTGRES_PASSWORD=7c425f3a19113db32e91ebf11d1156b6
POSTGRES_DB=tubee
DATABASE_URL=postgresql://tubee:7c425f3a19113db32e91ebf11d1156b6@tubee_db:5432/tubee

# YouTube Data API
YOUTUBE_API_CLIENT_SECRET_FILE=
YOUTUBE_API_DEVELOPER_KEY=

# Pushover
PUSHOVER_TOKEN=

# Line Notify
LINENOTIFY_CLIENT_ID=
LINENOTIFY_CLIENT_SECRET=

# Dropbox API
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
