<!-- prettier-ignore -->
{% extends "base.html" %}
{% set title = "Videos" %}

<!-- prettier-ignore -->
{% block content %}
{% if rows %}
<button
  class="btn btn-success mb-2"
  onclick="$(this).buttonAPI()"
  data-api="api_video.mark_as_checked"
  data-api-method="GET"
  data-query-params="{{ dict(video_ids=video_ids | join(',')) | tojson | forceescape }}"
>
  Mark all as Checked
</button>
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Published Datetime</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr class="video-row" data-video-id="{{ row.Video.id }}">
      <th scope="row" class="video-thumbnails">
        <img
          src="{{ row.Video.details.thumbnails.medium.url }}"
          class="rounded vidoe-thumbnails"
        />
      </th>
      <td>
        <a href="https://youtu.be/{{ row.Video.id }}" target="_blank">
          {{ row.Video.name }}
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ row.Video.id }}"
        >
          <p>#{{ row.Video.id }}</p>
        </a>
      </td>
      <td>{{ moment(row.Video.uploaded_timestamp).format('lll') }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Video Actions">
          {% for action in row.Subscription.actions %}
          <button
            type="button"
            class="btn btn-primary"
            onclick="$(this).buttonAPI()"
            data-api="api_video.execute_action"
            data-api-method="GET"
            data-path-params="{{ dict(video_id=row.Video.id, action_id=action.id) | tojson | forceescape }}"
          >
            {{ action.name }}
          </button>
          {% endfor %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-secondary" role="alert">No new videos found.</div>
{% endif %}

<!-- prettier-ignore -->
{% endblock %}
