{% macro content(videos) -%}
<!-- BEGIN Video Table -->
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Published Time</th>
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <th scope="row" class="video-thumbnails">
        <img src="{{ video.thumbnails.medium.url }}" class="rounded" />
      </th>
      <td class="video-title">
        <a href="https://youtu.be/{{ video.id }}" target="_blank">
          {{ video.name | safe }}
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ video.id }}"
        >
          <p>#{{ video.id }}</p>
        </a>
      </td>
      <td>{{ moment(video.uploaded_timestamp).format('lll') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- END Video Table -->
{%- endmacro %}
