{% macro content(videos) -%}
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Published Time</th>
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <th scope="row" class="video-thumbnails">
        <img src="{{ video.thumbnails.medium.url }}" class="rounded" />
      </th>
      <td>
        <a href="https://youtu.be/{{ video.id }}" target="_blank">
          {{ video.name | safe }}
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ video.id }}"
        >
          <p>#{{ video.id }}</p>
        </a>
      </td>
      <td
        class="moment"
        data-order="{{ video.uploaded_timestamp }}"
        data-moment-timestamp="{{ video.uploaded_timestamp.timestamp() }}"
        data-moment-format="lll"
      ></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
