<!-- prettier-ignore -->
{% from 'macros/base.html' import api_button %}

{% macro table(actions, channel_id=None, tag_id=None) -%}
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      {% if not channel_id and not tag_id %}
      <th scope="col">Scope</th>
      {% endif %}
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">
        {% if channel_id %}
        <button
          type="button"
          class="btn btn-success"
          onclick="$(this).actionModal()"
          data-channel-id="{{ channel_id }}"
        >
          New
        </button>
        {% endif %} {% if tag_id %}
        <button
          type="button"
          class="btn btn-success"
          onclick="$(this).actionModal()"
          data-tag-id="{{ tag_id }}"
        >
          New
        </button>
        {% endif %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions %}
    <tr>
      {% if not channel_id and not tag_id %}
      <th>
        <!-- prettier-ignore -->
        {% if action.channel_id %}
        <p class="my-auto">Channel</p>
        <a href="{{ url_for('main.channel', channel_id=action.channel_id) }}"
          >{{ action.channel.name }}</a
        >
        {% endif %}
        <!-- prettier-ignore -->
        {% if action.tag_id %}
        <p class="my-auto">Tag</p>
        <a href="{{ url_for('tag.main', tag_id=action.tag.id) }}"
          >{{ action.tag.name }}</a
        >
        {% endif %}
      </th>
      {% endif %}
      <td>
        <p class="mb-0">{{ action.name }}</p>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ action.id }}"
        >
          <p class="mb-0">{{ action.id }}</p>
        </a>
      </td>
      <td>{{ action.type.value }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          onclick="$(this).actionModal()"
          data-action-id="{{ action.id }}"
        >
          Edit
        </button>
        <!-- prettier-ignore -->
        {{ api_button(
          'Remove',
          'api_action.delete',
          button_variant='danger',
          method='DELETE',
          path_params=dict(action_id=action.id),
          data={'confirm-message': 'remove action ' + action.name},
          confirm=True
        ) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
