{% from 'macros/base.html' import api_button %}

<!-- prettier-ignore -->
{% macro carousal(videos) -%}
{% set thumb_num = [videos | length, 3] | min %}
<div
  id="video-carousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      data-bs-target="#video-carousel"
      data-bs-slide-to="0"
      class="active"
    ></button>
    {% for i in range(1, thumb_num) %}
    <button
      data-bs-target="#video-carousel"
      data-bs-slide-to="{{ i }}"
    ></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for video in videos[:thumb_num] %}
    <div class="carousel-item {{ 'active' if loop.first else '' }}">
      <img
        src="{{ video.thumbnails.maxres.url }}"
        class="d-block w-100"
        alt="{{ video.name }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ video.name }}</h5>
        <p>{{ video.details.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#video-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    data-bs-target="#video-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro info(channel, subscription, current_user) -%}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-3">
        <img
          src="{{ channel.infos.snippet.thumbnails.high.url }}"
          class="w-100 rounded-circle"
          alt="Thumbnails of {{ channel.name }}"
        />
      </div>
      <div class="col">
        <h3 class="mt-0">{{ channel.name }}</h3>
        {% if channel.infos.snippet.customUrl is defined %}
        <button class="btn btn-sm youtube-btn">
          <a
            href="https://www.youtube.com/{{ channel.infos.snippet.customUrl }}"
            target="_blank"
            class="text-decoration-none"
          >
            <i class="fab fa-youtube"></i>
            Open In YouTube
          </a>
        </button>
        {{ custom_url(channel) }}
        <!-- prettier-ignore -->
        {% else %}
        <button class="btn btn-sm youtube-btn">
          <a
            href="https://www.youtube.com/channel/{{ channel.id }}"
            target="_blank"
            class="text-decoration-none"
          >
            <i class="fab fa-youtube"></i>
            Open In YouTube
          </a>
        </button>
        {% endif %}
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ channel.id }}"
        >
          <p class="mb-0">{{ channel.id }}</p>
        </a>
        <p id="channel-description">{{ channel.infos.snippet.description }}</p>
        {{ tags(subscription.tags, channel) }}
        <form id="tag-form" class="row gx-3">
          <div class="col-auto">
            <div class="input-group">
              <div class="input-group-text">#</div>
              <input
                type="text"
                name="tag_name"
                class="form-control"
                required
              />
              <input
                type="hidden"
                name="channel_id"
                value="{{ channel.id }}"
                required
              />
            </div>
          </div>
          <div class="col-auto">
            <!-- prettier-ignore -->
            {{ api_button(
              'Add Tag',
              'api_subscription.tag_create',
              button_type='submit',
              button_variant='primary',
              method='POST',
              form_id='tag-form',
              classes=['mb-2'],
              restore=True
            ) }}
          </div>
        </form>
        {% if current_user.is_subscribing(channel) %}
        <!-- prettier-ignore -->
        {{ unsubscribe_button(channel) }}
        {% else %}
        <button type="button" class="btn btn-success btn-lg">Subscribe</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro custom_url(channel) -%}
<a
  href="#"
  class="text-muted clipboard"
  data-clipboard-text="{{ channel.infos.snippet.customUrl }}"
>
  <p class="mb-0">{{ channel.infos.snippet.customUrl }}</p>
</a>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro unsubscribe_button(channel) -%}
<form id="{{ channel.id }}-unsubscribe-form">
  <input type="hidden" name="channel_id" value="{{ channel.id }}" />
  <!-- prettier-ignore -->
  {{ api_button(
    'Unsubscribe',
    'api_subscription.delete',
    button_variant='danger',
    method='DELETE',
    form_id=channel.id+'-unsubscribe-form',
    data={'confirm-message': 'unsubscribe from ' + channel.name},
    confirm=True
  ) }}
</form>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro tags(tags, channel) -%}
<div class="subscription-tags mb-2">
  {% for tag in tags %}
  <span class="badge rounded-pill bg-secondary">
    <form id="untag-form-{{ tag.id }}">
      <input type="hidden" name="tag_id" value="{{ tag.id }}" required />
      <input
        type="hidden"
        name="channel_id"
        value="{{ channel.id }}"
        required
      />
      {{ tag.name }}
      <i
        class="fas fa-times-circle form-btn"
        onclick="$(this).buttonAPI()"
        data-api-endpoint="api_subscription.tag_delete"
        data-api-method="DELETE"
        data-api-form-id="untag-form-{{ tag.id }}"
        data-api-confirm="true"
        data-confirm-message="untag <{{ tag.name }}> from {{ channel.name }}"
      ></i>
    </form>
  </span>
  {% endfor %}
</div>
{%- endmacro %}
