<!-- prettier-ignore -->
{% from 'macros/base.html' import api_button %}
{% from 'macros/channel.html' import tags %}

{% macro youtube_table_thumbnail(channel) -%}
<!-- prettier-ignore -->
<img
  src="{{ channel.snippet.thumbnails.medium.url }}"
  class="channel-thumbnails rounded-circle"
/>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro youtube_table_info(channel) -%}
<a
  href="https://www.youtube.com/channel/{{ channel.snippet.resourceId.channelId }}"
  target="_blank"
>
  <p class="mb-0">{{ channel.snippet.title }}</p>
</a>
<a
  href="#"
  class="text-muted clipboard"
  data-clipboard-text="{{ channel.snippet.resourceId.channelId }}"
>
  <p class="mb-0">{{ channel.snippet.resourceId.channelId }}</p>
</a>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro youtube_table_button(channel) -%}
{% if not channel.snippet.subscribed %}
{{ api_button(
  'Subscribe',
  'api_subscription.create',
  button_variant='success',
  method='POST',
  form_id='youtube-subscribe-form',
  onclick="$(this).updateChannelId().buttonAPI()",
  data={'channel-id': channel.snippet.resourceId.channelId}
) }}
{% endif %}
{%- endmacro %}
