<!-- prettier-ignore -->
{% from 'macros/base.html' import api_button %}

{% macro table(tag=None) -%}
<!-- prettier-ignore -->
<table
  class="table table-striped table-hover align-middle datatable"
  data-datatable-searching="false"
  data-datatable-order='[[3, "asc"]]'
  data-datatable-disable-order="[0, 4]"
  data-datatable-ajax-url="api_video.unchecked"
  {% if tag %}
  data-datatable-ajax-data="{{ dict(tag_id=tag.id) | tojson | forceescape }}"
  {% endif %}
>
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Channel</th>
      <th scope="col">Title</th>
      <th scope="col">Published</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro table_thumbnails(row) -%}
<a href="https://youtu.be/{{ row.Video.id }}" target="_blank">
  <picture>
    <source
      media="(max-width: 1199px)"
      srcset="{{ row.Video.details.thumbnails.default.url }}"
    />
    <source
      media="(min-width: 1200px)"
      srcset="{{ row.Video.details.thumbnails.medium.url }}"
    />
    <img src="{{ row.Video.details.thumbnails.medium.url }}" class="rounded" />
  </picture>
</a>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro table_channel(row) -%}
<a
  href="https://www.youtube.com/channel/{{ row.Video.channel_id }}"
  target="_blank"
>
  {{ row.Video.channel.name }}
</a>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro table_title(row) -%}
<a href="https://youtu.be/{{ row.Video.id }}" target="_blank">
  {{ row.Video.name | safe }}
</a>
<a
  href="#"
  class="text-muted clipboard"
  data-clipboard-text="{{ row.Video.id }}"
>
  <p>#{{ row.Video.id }}</p>
</a>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro table_published(row) -%}
<p
  class="moment"
  data-moment-timestamp="{{ row.Video.uploaded_timestamp.timestamp() }}"
  data-moment-format="lll"
></p>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro table_actions(row, global_actions) -%}
<div class="btn-group" role="group" aria-label="Video Actions">
  {% for action in row.Subscription.actions + global_actions %}
  <!-- prettier-ignore -->
  {{ api_button(
    action.name,
    'api_video.execute_action',
    button_variant='primary',
    path_params=dict(video_id=row.Video.id, action_id=action.id)
  ) }}
  {% endfor %}
</div>
{%- endmacro %}

<!-- prettier-ignore -->
{% macro check_button() -%}
{{ api_button(
  'Mark all as Checked',
  'api_video.mark_as_checked',
  classes=['btn-all-checked', 'mb-2'],
  onclick='$(this).updateVideoIds().buttonAPI().reloadTable()',
  restore=True
) }}
{%- endmacro %}
