<!-- prettier-ignore -->
{% extends "base.html" %}
{% set title = "Admin Dashboard" %}

<!-- prettier-ignore -->
{% block style %}
{#
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/<filename>') }}"
/>
#} {% endblock %}

<!-- prettier-ignore -->
{% block script %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

{% set tabs = {
  "channels": "Channels",
  "sitemap": "Sitemap",
  "celery_tasks": "Celery Tasks",
  "management": "Management",
  "notifications": "Notifications",
  "sys_runtime": "System Runtime",
  "app_config": "Application Config",
  "envs": "Environment Variables",
} %}

<!-- BEGIN TABS -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  {% for key, name in tabs.items() %}
  <li class="nav-item">
    <a
      class="nav-link {{ 'active' if loop.first else '' }}"
      id="{{ key }}-tab"
      data-toggle="tab"
      href="#{{ key }}"
      role="tab"
      aria-controls="{{ key }}"
      aria-selected="false"
      >{{ name }}</a
    >
  </li>
  {% endfor %}
</ul>
<!-- END TABS -->

<!-- BEGIN TAB PAGES -->
<div class="tab-content" id="admin-dashbaord-tab-content">
  {% for key in tabs %}
  <div
    class="tab-pane fade {{ 'show active' if loop.first else '' }}"
    id="{{ key }}"
    role="tabpanel"
    aria-labelledby="{{ key }}-tab"
  >
    {% include 'component/admin_' + key + '.html' %}
  </div>
  {% endfor %}
</div>
<!-- END TAB PAGES -->

{% endblock %}
