{% extends "base.html" %}
{% set title = channel.channel_name %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/channel.css') }}">
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/channel.js') }}"></script>
{% endblock %}
{% block content %}

<!-- BEGIN Video Thumbnails Carousel -->

<!-- END Video Thumbnails Carousel -->

<!-- BEGIN Video Infos -->
<div class="jumbotron media">
    <img src="{{ channel.thumbnails_url }}" class="mr-3 rounded-circle w-25" alt="Thumbnails of {{ channel.channel_name }}">
    <div class="media-body my-auto">
        <h3 class="mt-0">{{ channel.channel_name }}</h3>
        {% if channel.custom_url %}
        <button class="btn btn-sm youtube-btn">
            <a href="https://www.youtube.com/{{ channel.custom_url }}" target="_blank" class="text-decoration-none">
                <i class="fab fa-youtube"></i>
                Open In YouTube
            </a>
        </button>
        <a href="#" class="text-muted clipboard" data-clipboard-text="{{ channel.custom_url }}">
            <p class="mb-0">#{{ channel.custom_url }}</p>
        </a>
        {% else %}
        <button class="btn btn-sm youtube-btn">
            <a href="https://www.youtube.com/channel/{{ channel.channel_id }}" target="_blank" class="text-decoration-none">
                <i class="fab fa-youtube"></i>
                Open In YouTube
            </a>
        </button>
        {% endif %}
        <a href="#" class="text-muted clipboard" data-clipboard-text="{{ channel.channel_id }}">
            <p class="mb-0">{{ channel.channel_id }}</p>
        </a>
        <p id="channel-description">{{ channel.description }}</p>
        {% if current_user.is_subscribing(channel) %}
        <button type="button" class="btn btn-danger btn-lg">Unsubscribe</button>
        {% else %}
        <button type="button" class="btn btn-success btn-lg">Subscribe</button>
        {% endif %}
    </div>
</div>
<!-- END Video Infos -->

<!-- BEGIN Action Infos -->
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Type</th>
            <th scope="col">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit_action_modal" data-action-id="new">New</button>
                <!-- <a class="btn btn-success" href="" role="button">New</a> -->
            </th>
        </tr>
    </thead>
    <tbody>
        {% for action in actions %}
        <!-- BEGIN Action Row -->
        <tr>
            <th>
                <p class="mb-0">{{ action.action_name }}</p>
                <a href="#" class="text-muted clipboard" data-clipboard-text="{{ action.action_id }}">
                    <p class="mb-0">{{ action.action_id }}</p>
                </a>
            </th>
            <td class="align-middle">{{ action.action_type.value }}</td>
            <td class="align-middle">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit_action_modal" data-action-id="{{ action.action_id }}">Edit</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove_action_modal" data-action-id="{{ action.action_id }}">Remove</button>
            </td>
        </tr>
        <!-- END Action Row -->
        {% endfor %}
    </tbody>
</table>
<!-- END Action Infos -->



<!-- BEGIN Edit Action Modal -->
<div class="modal fade" id="edit_action_modal" tabindex="-1" role="dialog" aria-labelledby="edit_action_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_action_modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="edit_action_modal_spinner" class="text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!-- BEGIN Action Form -->
                <form id="action_form" name="action_form" class="needs-validation" method="POST" novalidate>
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.action_name.label }}
                        {{ form.action_name() }}
                        {{ form.action_type.label }}
                        {{ form.action_type() }}
                    </div>
                </form>
                <!-- END Action Form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                {{ form.submit() }}
            </div>
        </div>
    </div>
</div>
<!-- END Edit Action Modal -->


<!-- BEGIN Remove Action Modal -->
<div class="modal fade" id="remove_action_modal" tabindex="-1" role="dialog" aria-labelledby="remove_action_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remove_action_modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Remove</button>
            </div>
        </div>
    </div>
</div>
<!-- END Remove Action Modal -->

<!-- BEGIN Hub Infos -->
{% if current_user.admin %}
<div class="container mb-3" id="status-grid" data-api-endpoint="{{ url_for('api.channel_status', channel_id=channel.channel_id, _external=True) }}">
    <div class="row">
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">State</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="state">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Expiration</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="expiration">
                            <div class="spinner-border text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Last Notification</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="last-notification">
                            <div class="spinner-border text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Last Notification Error</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="last-notification-error">
                            <div class="spinner-border text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Last Challenge</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="last-challenge">
                            <div class="spinner-border text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Last Challenge Error</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="last-challenge-error">
                            <div class="spinner-border text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Last Subscribe</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="last-subscribe">
                            <div class="spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr>
                        <th scope="row" class="table-dark align-middle border-top-0">Last Unsubscribe</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="last-unsubscribe">
                            <div class="spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <table class="table h-100 mb-0">
                <tbody>
                    <tr class="col-lg-third-one">
                        <th scope="row" class="table-dark align-middle border-top-0">Stat</th>
                        <td class="align-middle border-top-0 hub-table-cell" id="stat">
                            <div class="spinner-border text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
<!-- END Hub Infos -->

<!-- BEGIN Video Table -->

<!-- END Video Table -->

{% endblock %}
