<!-- prettier-ignore -->
{% import 'action/table.html' as action_table with context %}
{% import 'channel/info.html' as channel_info with context %}
{% import 'video/carousal.html' as video_carousal with context %}
{% import 'video/table.html' as video_table with context %}
{% import 'widgets/pagination.html' as pagination %}

<!-- prettier-ignore -->
{% extends "base.html" %}
{% set channel = subscription.channel %}
{% set title = channel.name %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/channel.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription_tag.css') }}"
/>
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
<script src="{{ url_for('static', filename='js/action_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal_new.js') }}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
{% if video_pagination.items %}
  {{ video_carousal.content(video_pagination.items) }}
{% endif %}
{{ channel_info.content(channel) }}
{{ action_table.content(subscription.actions) }}
{% if video_pagination.items %}
  {{ video_table.content(video_pagination.items) }}
  {{ pagination.content(video_pagination) }}
{% endif %}
{% endblock %}
