{% extends "base.html" %}
{% set title = "Dashboard" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-list"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-portrait"></i>
            </a>
        </li>
    </ul>
</nav>
<table class="table table-striped table-hover table-responsive-lg">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle"></th>
            <th scope="col" class="align-middle">Channel Name</th>
            <th scope="col" class="align-middle">Recent Activity</th>
            <th scope="col" class="align-middle"></th>
            {% if current_user.admin %}
            <th scope="col" class="align-middle">
                Hub Status
                <button type="button" class="btn btn-warning btn-sm" id="renew-all-btn">Renew All</button>
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
        <tr>
            <th scope="row" class="align-middle channel-thumbnails">
                {% if subscription.channel.thumbnails_url %}
                <img src="{{ subscription.channel.thumbnails_url }}" class="rounded-circle">
                {% endif %}
            </th>
            <td class="align-middle channel-name">
                <a href="{{ url_for('channel.channel', channel_id=subscription.channel.channel_id) }}">
                    <p class="mb-0">{{ subscription.channel.channel_name }}</p>
                </a>
                <a href="#" class="text-muted clipboard" data-clipboard-text="{{ subscription.channel.channel_id }}">
                    <p class="mb-0">{{ subscription.channel.channel_id }}</p>
                </a>
                {% if subscription.channel.custom_url %}
                <a href="#" class="text-muted clipboard" data-clipboard-text="{{ subscription.channel.custom_url }}">
                    <p class="mb-0">#{{ subscription.channel.custom_url }}</p>
                </a>
                {% endif %}
            </td>
            <td class="align-middle"></td>
            <td class="align-middle">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#actions_modal_{{ subscription.channel.channel_id }}">
                    Manage Actions
                </button>
                <!-- Modal -->
                <div class="modal fade" id="actions_modal_{{ subscription.channel.channel_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-danger" href="{{ url_for('channel.unsubscribe', channel_id=subscription.channel.channel_id) }}" role="button">Unsubscribe</a>
                {% if current_user.admin %}
                <button class="btn btn-warning renew-btn" type="button" data-renew-url="{{ url_for('api.channel_renew', channel_id=subscription.channel.channel_id) }}">Renew</button>
                {% endif %}
            </td>
            {% if current_user.admin %}
            <td class="align-middle">
                <span class="badge badge-primary">{{ subscription.channel.latest_status }}</span>
                <br>
                <span class="badge badge-warning">{{ moment(subscription.channel.expire_datetime).fromNow() }}</span>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}