<!-- prettier-ignore -->
{% extends "base.html" %}
{% set title = "Latest Upload" %}
{#
{% set alert = "Hello World" %}
{% set alert_type = "primary" %}
#}

<!-- prettier-ignore -->
{% block style %}
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Published Datetime</th>
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <th scope="row" class="video-thumbnails">
        <img
          src="{{ video.details.thumbnails.medium.url }}"
          class="rounded vidoe-thumbnails"
        />
      </th>
      <td class="video-title">
        <a href="https://youtu.be/{{ video.id }}" target="_blank">
          {{ video.name }}
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ video.id }}"
        >
          <p>#{{ video.id }}</p>
        </a>
      </td>
      <td>{{ moment(video.uploaded_timestamp).format('lll') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
