<!-- prettier-ignore -->
{% from "widgets/callback_badge.html" import badge %}

{% extends "base.html" %}
{% set title = "Subscriptions" %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription.css') }}"
/>
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
<script src="{{ url_for('static', filename='js/subscription.js') }}"></script>
<script src="{{ url_for('static', filename='js/action.js') }}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

{% if tag_name %}

{% include "tag/title.html" %}
{% include "action/table.html" %}

{% elif tag_name is false %}
<!-- BEGIN User Tags -->
<div class="p-3 mb-4 bg-dark rounded-3">
  <div class="container-fluid">
    <a href="{{ url_for('main.dashboard') }}" class="btn btn-light m-1"
      >Untagged</a
    >
    <!-- prettier-ignore -->
    {% for user_tag in current_user.tags %}
    <a
      href="{{ url_for('main.dashboard', tag_name=user_tag.name) }}"
      class="btn btn-light m-1"
      role="button"
      >{{ user_tag.name }}</a
    >
    {% endfor %}
  </div>
</div>
<!-- END User Tags -->
{% endif %}

<!-- prettier-ignore -->
{% set pagination = subscription_pagination %}
{% set subscriptions = pagination.items %}
{% if subscriptions %}
  {% include "subscription/table.html" %}
  {% include "subscription/pagination.html" %}
{% else %}
<div class="alert alert-secondary" role="alert">No subscription found.</div>
{% endif %}

<!-- prettier-ignore -->
{% endblock %}
