<!-- prettier-ignore -->
{% import 'action/table.html' as action_table with context %}
{% import 'widgets/pagination.html' as pagination %}
{% from "widgets/callback_badge.html" import badge %}

{% extends "base.html" %}
{% set title = "Subscriptions" %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription.css') }}"
/>
<!-- prettier-ignore -->
{{ pagination.style() }}
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
{{ action_table.script() }}
{{ pagination.script() }}
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

{% if tag %}
{% include "tag/title.html" %}
{% if actions %}
{{ action_table.content(actions) }}
{% else %}
<div class="alert alert-secondary" role="alert">No action found.</div>
{% endif %}
<!-- prettier-ignore -->
{% endif %}

<!-- prettier-ignore -->
{% if subscription_pagination.items %}
  {% set subscriptions = subscription_pagination.items %}
  {% include "subscription/table.html" %}
  {{ pagination.content(subscription_pagination) }}
{% else %}
<div class="alert alert-secondary" role="alert">No subscription found.</div>
{% endif %}

<!-- prettier-ignore -->
{% endblock %}
