{% extends "base.html" %}
{% set title = "Notification Test Page" %}
{% block content %}
<form id="" name="" class="" method="POST">
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" name="message" class="form-control" value="Test Message Body">
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service" id="service_pushover" value="Pushover">
        <label class="form-check-label" for="service_pushover">Pushover</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service" id="service_line_notify" value="LineNotify">
        <label class="form-check-label" for="service_line_notify">Line Notify</label>
    </div>
    <input class="btn btn-primary btn-lg m-2" id="submit" name="submit" type="submit" value="Send">
</form>
{% endblock %}