<!-- prettier-ignore -->
{% extends "base.html" %}
{% set title = "YouTube Subscription" %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/youtube_subscription.css') }}"
/>
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
<script src="{{ url_for('static', filename='js/youtube_subscription.js') }}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<table
  class="table table-striped table-hover align-middle"
  id="subscription-table"
  data-api-endpoint="{{ url_for('api.youtube_subscription') }}"
  data-channel-row-endpoint="{{ url_for('static', filename='component/youtube_subscription_row.html') }}"
>
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Channel Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="d-flex justify-content-center" id="loading-spinner-div">
  <div class="spinner-border text-primary" id="loading-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
{% endblock %}
