<!-- prettier-ignore -->
{% import 'widgets/pagination.html' as pagination %}

{% extends "base.html" %}
{% set title = "Subscriptions" %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription.css') }}"
/>
{% if subscription_pagination.items %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription_tag.css') }}"
/>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
{% if subscription_pagination.items %}
  {% set subscriptions = subscription_pagination.items %}
  {% include "subscription/table.html" %}
  {{ pagination.content(subscription_pagination) }}
{% else %}
<div class="alert alert-secondary" role="alert">No subscription found.</div>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}
