<!-- prettier-ignore -->
{% import 'action/table.html' as action_table with context %}
{% import 'widgets/pagination.html' as pagination %}
{% from "widgets/callback_badge.html" import badge %}

{% extends "base.html" %}
{% set title = "Subscriptions" %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription.css') }}"
/>
{% if subscription_pagination.items %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription_tag.css') }}"
/>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
{% if tag %}
<script src="{{ url_for('static', filename='js/tag_title.js') }}"></script>
{% if actions %}
<script src="{{ url_for('static', filename='js/action_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal_new.js') }}"></script>
<!-- prettier-ignore -->
{% endif %}
{% endif %}
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

{% if tag %}
{% include "tag/title.html" %}
{% if actions %}
{{ action_table.content(actions) }}
{% else %}
<div class="alert alert-secondary" role="alert">No action found.</div>
{% endif %}
<!-- prettier-ignore -->
{% endif %}

<!-- prettier-ignore -->
{% if subscription_pagination.items %}
  {% set subscriptions = subscription_pagination.items %}
  {% include "subscription/table.html" %}
  {{ pagination.content(subscription_pagination) }}
{% else %}
<div class="alert alert-secondary" role="alert">No subscription found.</div>
{% endif %}

<!-- prettier-ignore -->
{% endblock %}
