{% import "subscription/tag.html" as tag %}

<!-- BEGIN Subscription Table -->
<table class="table table-striped table-hover table-responsive-lg align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Channel Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for subscription in subscriptions %}
    <tr>
      <th scope="row" class="channel-thumbnails">
        {% if subscription.channel.infos.snippet.thumbnails.high.url %}
        <img
          src="{{ subscription.channel.infos.snippet.thumbnails.high.url }}"
          class="rounded-circle"
        />
        {% endif %}
      </th>
      <td class="channel-name">
        <a
          href="{{ url_for('main.channel', channel_id=subscription.channel_id) }}"
        >
          <p>{{ subscription.channel.name }}</p>
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ subscription.channel_id }}"
        >
          <p>{{ subscription.channel_id }}</p>
        </a>
        {% if subscription.channel.infos.snippet.customUrl is defined %}
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ subscription.channel.infos.snippet.customUrl }}"
        >
          <p>#{{ subscription.channel.infos.snippet.customUrl }}</p>
        </a>
        {% endif %}
        <!-- prettier-ignore -->
        {{ tag.content(subscription.tags, subscription.channel) }}
      </td>
      <td>
        <form id="{{ subscription.channel_id }}-unsubscribe-form">
          <input
            type="hidden"
            name="channel_id"
            value="{{ subscription.channel_id }}"
          />
          <button
            class="btn btn-danger"
            onclick="$(this).confirm(event, 'unsubscribe from {{ subscription.channel.name }}')"
            data-callback="buttonAPI"
            data-api="api_subscription.delete"
            data-api-method="DELETE"
            data-form-id="{{ subscription.channel_id }}-unsubscribe-form"
          >
            Unsubscribe
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- END Subscription Table -->
