<!-- prettier-ignore -->
{% from 'macros/base.html' import api_button %}
{% from 'macros/channel.html' import unsubscribe_button, tags %}

<table class="table table-striped table-hover table-responsive-lg align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Channel Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for subscription in subscriptions %}
    <tr>
      <th scope="row">
        {% if subscription.channel.infos.snippet.thumbnails.high.url %}
        <img
          src="{{ subscription.channel.infos.snippet.thumbnails.high.url }}"
          class="channel-thumbnails rounded-circle"
        />
        {% endif %}
      </th>
      <td>
        <a
          href="{{ url_for('main.channel', channel_id=subscription.channel_id) }}"
        >
          <p class="mb-0">{{ subscription.channel.name }}</p>
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ subscription.channel_id }}"
        >
          <p class="mb-0">{{ subscription.channel_id }}</p>
        </a>
        {% if subscription.channel.infos.snippet.customUrl is defined %}
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ subscription.channel.infos.snippet.customUrl }}"
        >
          <p class="mb-0">
            #{{ subscription.channel.infos.snippet.customUrl }}
          </p>
        </a>
        {% endif %}
        <!-- prettier-ignore -->
        {{ tags(subscription.tags, subscription.channel) }}
      </td>
      <td>
        <!-- prettier-ignore -->
        {{ unsubscribe_button(subscription.channel) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
