{% macro content(tags, channel) -%}
<div class="subscription-tags mb-2">
  <!-- prettier-ignore -->
  {% for tag in tags %}
  <span class="badge rounded-pill bg-secondary">
    <form id="untag-form-{{ tag.id }}">
      <input type="hidden" name="tag_id" value="{{ tag.id }}" required />
      <input
        type="hidden"
        name="channel_id"
        value="{{ channel.id }}"
        required
      />
      {{ tag.name }}
      <i
        class="fas fa-times-circle form-btn"
        onclick="$(this).buttonAPI()"
        data-api="api_subscription.tag_delete"
        data-api-method="DELETE"
        data-form-id="untag-form-{{ tag.id }}"
      ></i>
    </form>
  </span>
  {% endfor %}
</div>
{%- endmacro %}
