<!-- prettier-ignore -->
{% import 'action/table.html' as action_table with context %}
{% import 'widgets/pagination.html' as pagination %}

{% extends "base.html" %}
{% set title = "Tags" %}

<!-- prettier-ignore -->
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription.css') }}"
/>
{% if subscription_pagination.items %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/subscription_tag.css') }}"
/>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}

<!-- prettier-ignore -->
{% block script %}
<script src="{{ url_for('static', filename='js/tag_title.js') }}"></script>
<script src="{{ url_for('static', filename='js/action.js') }}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

{% include "tag/title.html" %}
{% if actions %}
{{ action_table.content(actions, tag_id=tag.id) }}
{% else %}
<div class="alert alert-secondary" role="alert">
  No action found.
  <a
    class="fw-bold text-dark text-decoration-underline"
    onclick="$(this).actionModal()"
    data-tag-id="{{ tag.id }}"
  >
    Create one now.
  </a>
</div>
{% endif %}

<!-- prettier-ignore -->
{% if subscription_pagination.items %}
  {% set subscriptions = subscription_pagination.items %}
  {% include "subscription/table.html" %}
  {{ pagination.content(subscription_pagination) }}
{% else %}
<div class="alert alert-secondary" role="alert">No subscription found.</div>
{% endif %}

<!-- prettier-ignore -->
{% endblock %}
