{% from 'macros/base.html' import api_button %}

<div id="title-container" class="row align-items-center">
  <div class="rename-blocks col">
    <h1 class="display-4">
      {{ tag.name }}
      <button class="btn-title-edit btn btn-primary">
        <i class="fas fa-edit"></i>
      </button>
      <!-- prettier-ignore -->
      {{ api_button(
        '<i class="fas fa-trash"></i
      ><!-- prettier-ignore -->',
        'api_tag.delete',
        button_variant='danger',
        method='DELETE',
        path_params=dict(tag_id=tag.id),
        data={'confirm-message': 'remove tag ' + tag.name},
        confirm=True
      ) }}
    </h1>
  </div>
  <div class="rename-blocks col" style="display: none">
    <form id="rename-form" class="row gx-3">
      <div class="col-auto">
        <div class="input-group">
          <input
            type="text"
            name="name"
            class="form-control-lg"
            value="{{ tag.name }}"
            required
          />
          <button class="btn-title-edit btn btn-outline-danger">Cancel</button>
          <!-- prettier-ignore -->
          {{ api_button(
            'Save',
            'api_tag.update',
            button_variant='outline-primary',
            method='PATCH',
            form_id='rename-form',
            path_params=dict(tag_id=tag.id)
          ) }}
        </div>
      </div>
    </form>
  </div>
</div>
