<div id="title-container" class="row align-items-center">
  <div class="rename-blocks col">
    <h1 class="display-4">
      {{ tag.name }}
      <button class="btn-title-edit btn btn-primary">
        <i class="fas fa-edit"></i>
      </button>
      <button
        class="btn btn-danger"
        onclick="$(this).buttonAPI()"
        data-api="api_tag.delete"
        data-api-method="DELETE"
        data-path-params="{{ dict(tag_id=tag.id) | tojson | forceescape }}"
      >
        <i class="fas fa-trash"></i>
      </button>
    </h1>
  </div>
  <div class="rename-blocks col" style="display: none">
    <form id="rename-form" class="row gx-3">
      <div class="col-auto">
        <div class="input-group">
          <input
            type="text"
            name="name"
            class="form-control-lg"
            value="{{ tag.name }}"
            required
          />
          <button class="btn-title-edit btn btn-outline-danger">Cancel</button>
          <button
            class="btn btn-outline-primary"
            onclick="$(this).buttonAPI()"
            data-api="api_tag.update"
            data-api-method="PATCH"
            data-form-id="rename-form"
            data-path-params="{{ dict(tag_id=tag.id) | tojson | forceescape }}"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
