<div
  id="confirm-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirm-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-modal-title">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button class="btn-confirm btn btn-danger">Confirm</button>
      </div>
    </div>
  </div>
</div>
