<tr>
  <th scope="row" class="align-middle">
    <img
      src="{{ channel.snippet.thumbnails.medium.url }}"
      class="rounded-circle channel-thumbnails"
    />
  </th>
  <td class="align-middle">
    <p class="mb-0 channel-name">{{ channel.snippet.title }}</p>
    <a
      href="#"
      class="text-muted clipboard channel-id-a"
      data-clipboard-text="{{ channel.snippet.channelId }}"
    >
      <p class="mb-0 channel-id-p">{{ channel.snippet.channelId }}</p>
    </a>
  </td>
  <td class="align-middle channel-subscribed"></td>
</tr>
