body {
    padding-top: 5rem;
}

span.line {
    display: inline-block;
}

#hero {
    height: 2rem;
}

#alert-wrapper {
    height: 0px;
}

@media (min-width: 992px) {
    #username {
        margin-right: 1rem;
    }
}