<!-- BEGIN Remove Action Modal -->
<div
  class="modal fade"
  id="remove-action-modal"
  tabindex="-1"
  aria-labelledby="remove-action-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remove-action-modal-title">Remove?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button class="btn btn-danger" type="button">
          Remove
          <span
            class="spinner-border spinner-border-sm remove-action-save-spinner"
            aria-hidden="true"
          />
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END Remove Action Modal -->
