<!-- BEGIN New Action Modal -->
<div
  class="modal fade"
  id="new-action-modal"
  tabindex="-1"
  aria-labelledby="new-action-modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-action-modal-title">New Action</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <!-- BEGIN Action Form -->
        <form
          id="new-action-form"
          name="new-action-form"
          class="needs-validation"
          method="POST"
        >
          <!-- prettier-ignore -->
          {{ action_form.csrf_token }}
          {% if channel is defined %}
          {{ action_form.channel_id(value=channel.id) }}
          {% elif tag is defined %}
          {{ action_form.tag(value=tag.name) }}
          {% endif %}
          <div class="row mb-3">
            {{ action_form.action_name.label(class="col-4 col-form-label") }}
            <div class="col-8">
              {{ action_form.action_name(class_="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ action_form.action_type.label(class="col-4 col-form-label") }}
            <div class="col-8">
              {{ action_form.action_type(class_="form-select") }}
            </div>
          </div>
          {% for field in action_form.notification %}
          <div class="row mb-3 action-type-fields notification-fields">
            {{ field.label(class="col-4 col-form-label") }}
            <!-- prettier-ignore -->
            {% if "SelectField" in field.__class__.__name__ %}
            <div class="col-8">{{ field(class_="form-select") }}</div>
            {% else %}
            <div class="col-8">{{ field(class_="form-control") }}</div>
            {% endif %}
          </div>
          {% endfor %}
          <!-- prettier-ignore -->
          {% for field in action_form.playlist %}
          <div class="row mb-3 action-type-fields playlist-fields">
            {{ field.label(class="col-4 col-form-label") }}
            <div class="col-8">{{ field(class_="form-control") }}</div>
          </div>
          {% endfor %}
          <!-- prettier-ignore -->
          {% for field in action_form.download %}
          <div class="row mb-3 action-type-fields download-fields">
            {{ field.label(class="col-4 col-form-label") }}
            <div class="col-8">{{ field(class_="form-control") }}</div>
          </div>
          {% endfor %}
        </form>
        <!-- END Action Form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          class="btn btn-success submit-btn"
          type="button"
          data-api-endpoint="{{ url_for('api_action.new') }}"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<!-- END New Action Modal -->
