{% macro content(actions, show_scope=False) -%}
<!-- BEGIN Action Infos -->
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      {% if show_scope %}
      <th scope="col">Scope</th>
      {% endif %}
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">
        {% if not show_scope %}
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#new-action-modal"
        >
          New
        </button>
        {% endif %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions %}
    <!-- BEGIN Action Row -->
    <tr>
      {% if show_scope %}
      <th>
        <!-- prettier-ignore -->
        {% if action.channel_id %}
        <p class="my-auto">Channel</p>
        <a href="{{ url_for('main.channel', channel_id=action.channel_id) }}"
          >{{ action.channel.name }}</a
        >
        {% endif %}
        <!-- prettier-ignore -->
        {% if action.tag_id %}
        <p class="my-auto">Tag</p>
        <a href="{{ url_for('main.dashboard', tag_id=action.tag.id) }}"
          >{{ action.tag.name }}</a
        >
        {% endif %}
      </th>
      {% endif %}
      <td>
        <p class="mb-0">{{ action.name }}</p>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ action.id }}"
        >
          <p class="mb-0">{{ action.id }}</p>
        </a>
      </td>
      <td>{{ action.type.value }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#edit-action-modal"
          data-action-id="{{ action.id }}"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          onclick="$(this).confirm(event, 'remove action {{ action.name }}')"
          data-callback="buttonAPI"
          data-api="api_action.delete"
          data-api-method="DELETE"
          data-path-params="{{ dict(action_id=action.id) | tojson | forceescape }}"
        >
          Remove
        </button>
      </td>
    </tr>
    <!-- END Action Row -->
    {% endfor %}
  </tbody>
</table>
<!-- END Action Infos -->

<!-- prettier-ignore -->
{% if not show_scope %}
{% include "action/modal_new.html" %}
{% endif %}
{% include "action/modal_edit.html" %}
{%- endmacro %}
