<!-- prettier-ignore -->
{% include "action/modal_new.html" %}
{% include "action/modal_edit.html" %}
{% include "action/modal_remove.html" %}

<!-- BEGIN Action Infos -->
<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#new-action-modal"
        >
          New
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions %}
    <!-- BEGIN Action Row -->
    <tr>
      <th>
        <p class="mb-0">{{ action.name }}</p>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ action.id }}"
        >
          <p class="mb-0">{{ action.id }}</p>
        </a>
      </th>
      <td>{{ action.type.value }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#edit-action-modal"
          data-read-endpoint="{{ url_for('api_action.action', action_id=action.id) }}"
          data-edit-endpoint="{{ url_for('api_action.edit', action_id=action.id) }}"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#remove-action-modal"
          data-action-name="{{ action.name }}"
          data-api-endpoint="{{ url_for('api_action.delete', action_id=action.id) }}"
        >
          Remove
        </button>
      </td>
    </tr>
    <!-- END Action Row -->
    {% endfor %}
  </tbody>
</table>
<!-- END Action Infos -->
