{% from 'macros/base.html' import api_button %}

<table class="table table-striped table-hover table-responsive-lg align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">Channel Name</th>
      <th scope="col">Status</th>
      <th scope="col">Expiration</th>
      <th scope="col">
        <div class="btn-group" role="group" aria-label="Management buttons">
          <button class="btn btn-warning" onclick="$('.btn-subscribe').click()">
            Subscribe all
          </button>
          <button class="btn btn-warning" onclick="$('.btn-refresh').click()">
            Refresh all
          </button>
          <button class="btn btn-warning" onclick="$('.btn-update').click()">
            Update all
          </button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for channel in channels %}
    <tr>
      <th>
        <a href="{{ url_for('main.channel', channel_id=channel.id) }}"
          ><p class="mb-0">{{ channel.name }}</p>
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ channel.id }}"
        >
          <p class="mb-0">{{ channel.id }}</p>
        </a>
      </th>
      <td>{{ channel.hub_infos.state }}</td>
      {% if channel.expiration %}
      <td
        class="moment"
        data-moment-timestamp="{{ channel.expiration.timestamp() }}"
        data-moment-format="lll"
      ></td>
      {% else %}
      <td>{{ channel.expiration }}</td>
      {% endif %}
      <td>
        <div class="btn-group" role="group" aria-label="Management buttons">
          <!-- prettier-ignore -->
          {{ api_button(
            'Subscribe',
            'api_channel.subscribe',
            button_variant='warning',
            path_params=dict(channel_id=channel.id),
            classes=['btn-subscribe'],
          ) }}
          {{ api_button(
            'Refresh',
            'api_channel.refresh',
            button_variant='warning',
            path_params=dict(channel_id=channel.id),
            classes=['btn-refresh'],
          ) }}
          {{ api_button(
            'Update',
            'api_channel.update',
            button_variant='warning',
            path_params=dict(channel_id=channel.id),
            classes=['btn-update'],
          ) }}
          {{ api_button(
            'Fetch Videos',
            'api_channel.fetch_videos',
            button_variant='warning',
            path_params=dict(channel_id=channel.id)
          ) }}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
