<table class="table table-striped table-hover table-responsive-lg align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">Channel Name</th>
      <th scope="col">Status</th>
      <th scope="col">Expiration</th>
      <th scope="col">
        <div class="btn-group" role="group" aria-label="Management buttons">
          <button class="btn btn-warning" onclick="$('.btn-subscribe').click()">
            Subscribe all
          </button>
          <button class="btn btn-warning" onclick="$('.btn-refresh').click()">
            Refresh all
          </button>
          <button class="btn btn-warning" onclick="$('.btn-update').click()">
            Update all
          </button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for channel in channels %}
    <tr>
      <th>
        <a href="{{ url_for('main.channel', channel_id=channel.id) }}"
          ><p class="mb-0">{{ channel.name }}</p>
        </a>
        <a
          href="#"
          class="text-muted clipboard"
          data-clipboard-text="{{ channel.id }}"
        >
          <p class="mb-0">{{ channel.id }}</p>
        </a>
      </th>
      <td>{{ channel.hub_infos.state }}</td>
      {% if channel.expiration %}
      <td
        class="moment"
        data-moment-timestamp="{{ channel.expiration.timestamp() }}"
        data-moment-format="lll"
      ></td>
      {% else %}
      <td>{{ channel.expiration }}</td>
      {% endif %}
      <td>
        <div class="btn-group" role="group" aria-label="Management buttons">
          <button
            type="button"
            class="btn btn-warning btn-subscribe"
            onclick="$(this).buttonAPI()"
            data-api="api_channel.subscribe"
            data-api-method="GET"
            data-path-params="{{ dict(channel_id=channel.id) | tojson | forceescape }}"
          >
            Subscribe
          </button>
          <button
            type="button"
            class="btn btn-warning btn-refresh"
            onclick="$(this).buttonAPI()"
            data-api="api_channel.refresh"
            data-api-method="GET"
            data-path-params="{{ dict(channel_id=channel.id) | tojson | forceescape }}"
          >
            Refresh
          </button>
          <button
            type="button"
            class="btn btn-warning btn-update"
            onclick="$(this).buttonAPI()"
            data-api="api_channel.update"
            data-api-method="GET"
            data-path-params="{{ dict(channel_id=channel.id) | tojson | forceescape }}"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-warning"
            onclick="$(this).buttonAPI()"
            data-api="api_channel.fetch_videos"
            data-api-method="GET"
            data-path-params="{{ dict(channel_id=channel.id) | tojson | forceescape }}"
          >
            Fetch Videos
          </button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
