<!-- BEGIN MANAGEMENT -->
<h1>Management</h1>
<div id="admin-management-buttons">
  <button type="button" id="channel-renew-all" class="btn btn-secondary my-2">
    Renew all channel (immediately)
  </button>
  <button
    type="button"
    id="channel-renew-all-schedule"
    class="btn btn-secondary my-2"
    data-api="api_channel.renew_all"
    data-path-params="{{ dict(execution=-1) | tojson | forceescape }}"
  >
    Reschedule renewal (one day before expire)
  </button>
  <button
    type="button"
    id="channel-renew-all-random"
    class="btn btn-secondary my-2"
    data-api="api_channel.renew_all"
    data-path-params="{{ dict(execution=-2) | tojson | forceescape }}"
  >
    Reschedule renewal (random time)
  </button>
  <button
    type="button"
    id="task-remove-all"
    class="btn btn-secondary my-2"
    data-api="api_task.remove_all"
  >
    Remove All Task
  </button>
  <a
    class="btn btn-secondary my-2"
    href="{{ url_for('admin.raise_exception') }}"
    role="button"
    >Raise Exception</a
  >
  <a
    class="btn btn-secondary my-2"
    href="{{ url_for('admin.test_logging') }}"
    role="button"
    >Test Logging</a
  >
</div>
<div class="results"></div>
<!-- END MANAGEMENT -->
