<!-- BEGIN SYS RUNTIME -->
<h1>System Runtime</h1>
<table class="table table-striped table-hover table-responsive align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">OS Version</th>
      <td>{{ infos.os_version }}</td>
    </tr>
    <tr>
      <th scope="row">Python Version</th>
      <td>{{ infos.python_version }}</td>
    </tr>
    <tr>
      <th scope="row">Flask Version</th>
      <td>{{ infos.flask_version }}</td>
    </tr>
    <tr>
      <th scope="row">Gunicorn Version</th>
      <td>{{ infos.gunicorn_version }}</td>
    </tr>
    <tr>
      <th scope="row">Werkzeug Version</th>
      <td>{{ infos.werkzeug_version }}</td>
    </tr>
    <tr>
      <th scope="row">Tubee Version</th>
      <td>{{ infos.tubee_version }}</td>
    </tr>
  </tbody>
</table>
<!-- END SYS RUNTIME -->
