{% extends "layout.html" %}
{% set page_title = "Login" %}
{% block scripts %}
<script type="text/javascript" src="/Tubee/static/js/login.js"></script>
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 id="headline" class="display-4">Welcome!</h1>
    {% if notes %}
    <p id="notes" class="lead">{{ notes }}</p>
    {% endif %}
    <form id="" name="" class="needs-validation" method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {% if error or form.username.errors|length > 0 %}
            {{ form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% if error %}
                {{ error }}
                {% endif %}
                {% for error in form.username.errors %}
                {{ error }}
                {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {% if error or form.password.errors|length > 0 %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% if error %}
                {{ error }}
                {% endif %}
                {% for error in form.password.errors %}
                {{ error }}
                {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary btn-lg m-2") }}
    </form>
</div>
{% endblock %}