{% extends "layout.html" %}
{% set page_title = "Subscription Status of "+status.channel_name %}
{% block body %}
<h1>{{ status.channel_name }}</h1>
<h2>{{ status.channel_id }}</h2>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">UTC Time</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in status.details.items() %}
        <tr>
            <th scope="row">{{ key }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
