{% macro dismiss_but() %}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
{% endmacro %}
{% macro alert(alert, alert_type) %}
{% if alert %}
<!-- ALERT -->
<div id="alert-wrapper">
    <!-- <div style="padding: 5px;"> -->
        {% if alert_type == "secondary" %}
        <div id="main-alert" class="alert alert-secondary alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% elif alert_type == "success" %}
        <div id="main-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% elif alert_type == "danger" %}
        <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% elif alert_type == "warning" %}
        <div id="main-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% elif alert_type == "info" %}
        <div id="main-alert" class="alert alert-info alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% elif alert_type == "light" %}
        <div id="main-alert" class="alert alert-light alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% elif alert_type == "dark" %}
        <div id="main-alert" class="alert alert-dark alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% else %}
        <div id="main-alert" class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ alert }}
            {{ dismiss_but() }}
        </div>
        {% endif %}
    <!-- </div> -->
</div>
<!-- END ALERT -->
{% endif %}
{% endmacro %}