{% macro ribbon_css() %}

{% if config.LOADED_CONFIG != "production" %}
<!-- RIBBON -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
<!-- END RIBBON -->
{% endif %}
{% endmacro %}

{% macro ribbon_tag() %}
{% if config.LOADED_CONFIG == "development" %}
<!-- RIBBON -->
<a class="github-fork-ribbon right-bottom fixed" href="#" data-ribbon="Development Build"></a>
<!-- END RIBBON -->
{% elif config.LOADED_CONFIG == "testing" %}
<!-- RIBBON -->
<a class="github-fork-ribbon right-bottom fixed" href="#" data-ribbon="Testing Build"></a>
<!-- END RIBBON -->
{% endif %}
{% endmacro %}