{% macro navbar(title, current_user) %}
<!-- STICKY NAVBAR -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-left" href="{{ url_for('main.dashboard') }}">
            <img id="hero" src="{{ url_for('static', filename='img/tubee_text.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                {% if title == "Dashboard" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.dashboard') }}">
                        Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.dashboard') }}">
                        Dashboard
                    </a>
                </li>
                {% endif %}
                {% if title == "Subscribe" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('channel.subscribe') }}">
                        Subscribe
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('channel.subscribe') }}">
                        Subscribe
                    </a>
                </li>
                {% endif %}
                {% if title == "Explore" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.explore') }}">
                        Explore
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.explore') }}">
                        Explore
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_user">
                        <a class="dropdown-item" href="{{ url_for('user.login') }}">Login</a>
                        <a class="dropdown-item" href="{{ url_for('user.register') }}">Register</a>
                        <a class="dropdown-item" href="{{ url_for('user.setting') }}">Setting</a>
                        <a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a>
                    </div>
                </li>
                {% if current_user.admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown_admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_admin">
                        <a class="dropdown-item" href="{{ url_for('admin.notification_dashboard') }}">Dashboard: Notification</a>
                        <a class="dropdown-item" href="{{ url_for('admin.scheduler_dashboard') }}">Dashboard: Scheduler</a>
                        <a class="dropdown-item" href="{{ url_for('admin.hub_dashboard') }}">Dashboard: Hub</a>
                        <a class="dropdown-item" href="{{ url_for('admin.notification_push') }}">Send Test Notification</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown_dev" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dev</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_dev">
                        <a class="dropdown-item" href="{{ url_for('dev.sitemap') }}">Sitemap</a>
                        <a class="dropdown-item" href="{{ url_for('dev.os_dict') }}">Dict: OS</a>
                        <a class="dropdown-item" href="{{ url_for('dev.sys_dict') }}">Dict: System</a>
                        <a class="dropdown-item" href="{{ url_for('dev.flask_dict') }}">Dict: Flask</a>
                        <a class="dropdown-item" href="{{ url_for('dev.scheduler_dict') }}">Dict: Scheduler</a>
                        <a class="dropdown-item" href="{{ url_for('dev.user_dict') }}">Dict: User</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
            <span class="navbar-text" id="username">
                Hello! {{ current_user.username }}
            </span>
            {% endif %}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<!-- END STICKY NAVBAR -->
{% endmacro %}