<!-- BEGIN CELERY TASKS -->
<h1>Celery Tasks</h1>
<table
  id="celery-table"
  class="table table-striped table-hover table-responsive align-middle"
  data-template-endpoint="{{ url_for('static', filename='component/admin_celery_task.html') }}"
  data-api-endpoint="{{ url_for('api_task.list_all') }}"
>
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Args</th>
      <th scope="col">ETA</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<!-- END CELERY TASKS -->
