<!-- BEGIN Channel Status Modal -->
<div
  class="modal fade"
  id="channel-status-modal"
  tabindex="-1"
  aria-labelledby="channel-status-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="channel-status-modal-title"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="channel-status-spinner" class="text-center">
          <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <table
          id="channel-status-table"
          class="table table-striped table-hover align-middle"
        >
          <tbody>
            <tr>
              <th scope="row">State</th>
              <td id="state"></td>
            </tr>
            <tr>
              <th scope="row">Expiration</th>
              <td id="expiration"></td>
            </tr>
            <tr>
              <th scope="row">Last Notification</th>
              <td id="last-notification"></td>
            </tr>
            <tr>
              <th scope="row">Last Notification Error</th>
              <td id="last-notification-error"></td>
            </tr>
            <tr>
              <th scope="row">Last Challenge</th>
              <td id="last-challenge"></td>
            </tr>
            <tr>
              <th scope="row">Last Challenge Error</th>
              <td id="last-challenge-error"></td>
            </tr>
            <tr>
              <th scope="row">Last Subscribe</th>
              <td id="last-subscribe"></td>
            </tr>
            <tr>
              <th scope="row">Last Unsubscribe</th>
              <td id="last-unsubscribe"></td>
            </tr>
            <tr>
              <th scope="row">Stat</th>
              <td id="stat"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END Channel Status Modal -->
