<!-- BEGIN Channel Callback Modal -->
<div
  class="modal fade"
  id="channel-callback-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="channel-callback-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="channel-callback-modal-title"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="channel-callback-spinner" class="text-center">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table
          id="channel-callback-table"
          class="table table-striped table-hover"
        >
          <thead class="thead-dark">
            <tr>
              <th scope="col">Video ID</th>
              <th scope="col">Timestamp</th>
              <th scope="col">Type</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END Channel Status Modal -->
