<!-- BEGIN NOTIFICATIONS -->
<h1>Notifications</h1>
<!-- BEGIN SEND SECTION -->
<div id="admin-notification-test" class="mb-3">
  <form method="POST" action="{{ url_for('admin.notification_push') }}">
    <div class="form-group row">
      <label for="message" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="message" id="message" />
      </div>
    </div>
    <fieldset class="form-group row">
      <legend class="col-form-label col-sm-2 float-sm-left pt-0">
        Service
      </legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="service"
            id="service_pushover"
            value="Pushover"
            checked
          />
          <label class="form-check-label" for="service_pushover">
            Pushover
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="service"
            id="service_line_notify"
            value="LineNotify"
          />
          <label class="form-check-label" for="service_line_notify">
            Line Notify
          </label>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
</div>
<!-- END SEND SECTION -->

<!-- BGEIN NOTIFICATION TABLE -->
<table class="table table-striped table-hover table-responsive-lg align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Sent Datetime</th>
      <th scope="col">Title</th>
      <th scope="col">Message</th>
      <th scope="col">URL</th>
      <th scope="col">Response</th>
    </tr>
  </thead>
  <tbody>
    {% for notification in notifications %}
    <tr>
      <th scope="row">
        {% if notification.kwargs.image_url %}
        <img
          src="{{ notification.kwargs.image_url }}"
          class="rounded"
          width="200"
        />
        {% endif %}
      </th>
      <td>{{ notification.sent_timestamp }}</td>
      <td>{{ notification.kwargs.title }}</td>
      <td>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="popover"
          data-bs-content="{{ notification.message }}"
          data-bs-trigger="focus"
        >
          Message
        </button>
      </td>
      <td>
        <a href="{{ notification.kwargs.url }}"
          >{{ notification.kwargs.url_title }}</a
        >
      </td>
      <td>
        {% if notification.response.status == 1 %}
        <button
          type="button"
          class="btn btn-success response-btn"
          data-bs-container="body"
          data-bs-toggle="popover"
          data-bs-placement="right"
          data-bs-trigger="focus"
          data-bs-content="{{ notification.response.request }}"
        >
          OK
          <span class="badge bg-light text-dark">1</span>
        </button>
        {% else %}
        <button
          type="button"
          class="btn btn-danger response-btn"
          data-bs-container="body"
          data-bs-toggle="popover"
          data-bs-placement="right"
          data-bs-trigger="focus"
          data-bs-content="{{ notification.response.request }}"
        >
          Error
          <span class="badge bg-light text-dark"
            >{{ notification.response.status }}</span
          >
        </button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- END NOTIFICATION TABLE -->
<!-- END NOTIFICATIONS -->
