<!-- BEGIN CALLBACKS -->
<h1>Callbacks</h1>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Received Datetime</th>
      <th scope="col">Channel ID</th>
      <th scope="col">Action Type</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for callback in callbacks %}
    <tr>
      <th scope="row">{{ moment(callback.timestamp).format('lll') }}</th>
      <td>{{ callback.channel_id }}</td>
      <td>
        {% if callback.type == "Hub Challenge" %}
        <span class="badge badge-warning">{{ callback.type }}</span>
        {% elif callback.type == "Hub Notification" %}
        <span class="badge badge-success">{{ callback.type }}</span>
        {% else %}
        <span class="badge badge-danger">{{ callback.type }}</span>
        {% endif %}
      </td>
      <td>{{ callback.infos }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- END CALLBACKS -->
