<!-- BEGIN APP CONFIG -->
<h1>Application Config</h1>
<table class="table table-striped table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="align-middle">Key</th>
      <th scope="col" class="align-middle">Value</th>
    </tr>
  </thead>
  <tbody>
    {% for key, val in infos.app_config.items() %}
    <tr>
      <th scope="row" class="align-middle">{{ key }}</th>
      <td class="align-middle">{{ val }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- END APP CONFIG -->
