{% extends "base.html" %}
{% set title = "Dashboard" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-list"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-portrait"></i>
            </a>
        </li>
    </ul>
</nav>
<table class="table table-striped table-hover table-responsive-lg">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle"></th>
            <th scope="col" class="align-middle">Channel Name</th>
            <th scope="col" class="align-middle">Recent Activity</th>
            <th scope="col" class="align-middle">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
        <tr>
            <th scope="row" class="align-middle channel-thumbnails">
                {% if subscription.channel.thumbnails_url %}
                <img src="{{ subscription.channel.thumbnails_url }}" class="rounded-circle">
                {% endif %}
            </th>
            <td class="align-middle channel-name">
                <a href="{{ url_for('channel.channel', channel_id=subscription.channel.channel_id) }}">
                    <p class="mb-0">{{ subscription.channel.channel_name }}</p>
                </a>
                <a href="#" class="text-muted clipboard" data-clipboard-text="{{ subscription.channel.channel_id }}">
                    <p class="mb-0">{{ subscription.channel.channel_id }}</p>
                </a>
                {% if subscription.channel.custom_url %}
                <a href="#" class="text-muted clipboard" data-clipboard-text="{{ subscription.channel.custom_url }}">
                    <p class="mb-0">#{{ subscription.channel.custom_url }}</p>
                </a>
                {% endif %}
            </td>
            <td class="align-middle"></td>
            <td class="align-middle">
                <a class="btn btn-danger" href="{{ url_for('channel.unsubscribe', channel_id=subscription.channel.channel_id) }}" role="button">Unsubscribe</a>
                {% if current_user.admin %}
                <br>
                <button class="btn btn-warning renew-btn" type="button" data-renew-url="{{ url_for('api.channel_renew', channel_id=subscription.channel.channel_id) }}">Renew</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}