{% extends "base.html" %}
{% set title = "Hub Dashboard" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Received Datetime</th>
            <th scope="col">Channel ID</th>
            <th scope="col">Action Type</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        {% for callback in callbacks %}
        <tr>
            <th scope="row">{{ callback.received_datetime }}</th>
            <td>{{ callback.channel_id }}</td>
            <td>
                {% if callback.action_type == "Hub Challenge" %}
                <span class="badge badge-warning">Hub Challenge</span>
                {% elif callback.action_type == "Hub Notification" %}
                <span class="badge badge-success">Hub Notification</span>
                {% else %}
                <span class="badge dadge-danger">{{ callback.action }}</span>
                {% endif %}
            </td>
            <td>{{ callback.details }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}