{% extends "base.html" %}
{% set title = "Sitemap" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle">Func</th>
            <th scope="col" class="align-middle">Path</th>
        </tr>
    </thead>
    <tbody>
        {% for url, endpoint in links %}
        <tr>
            <th scope="row" class="align-middle">
                <a href="{{ url }}">{{ endpoint }}</a>
            </th>
            <td class="align-middle">
                {{ url }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}