{% extends "base.html" %}
{% set title = "Setting" %}

{% block content %}
<div class="jumbotron">
    <h1 id="headline" class="display-4">Welcome!</h1>
    <label for="username" class="col-form-label">Username</label>
    <input type="text" class="form-control" id="username" value="{{ current_user.username }}" readonly>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" value="........" readonly>
    <small id="passwordHelp" class="form-text text-muted">
        To Change Password, Click
        <a href="">
            Here
        </a>
    </small>
    <label for="pushover_key" class="col-form-label">Pushover User Key</label>
    <div class="input-group">
        {% if current_user.pushover_key %}
        <input type="text" class="form-control" id="pushover_key" value="{{ current_user.pushover_key }}" aria-describedby="pushover_change" readonly>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="pushover_change">Change</button>
        </div>
        {% else %}
        <input type="text" class="form-control" id="pushover_key" value="{{ current_user.pushover_key }}" aria-describedby="pushover_validate">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="pushover_validate">Validate</button>
        </div>
        {% endif %}
    </div>
    <small id="pushover_keyHelp" class="form-text text-muted">
        Get your user key by login in
        <a href="https://pushover.net/" target="_blank">Pushover</a>
    </small>
    <label for="youtube_credentials" class="col-form-label">YouTube Account</label>
    <div class="input-group">
        {% if current_user.youtube_credentials %}
        <input type="text" class="form-control" id="youtube_credentials" value="{{ current_user.youtube_credentials }}" aria-describedby="youtube_revoke" readonly>
        <div class="input-group-append">
            <a class="btn btn-outline-secondary" href="{{ url_for('user.setting_youtube_revoke') }}" role="button" id="youtube_revoke">Revoke</a>
        </div>
        {% else %}
        <input type="text" class="form-control" id="youtube_credentials" value="{{ current_user.youtube_credentials }}" aria-describedby="youtube_authorize" readonly>
        <div class="input-group-append">
            <a class="btn btn-outline-secondary" href="{{ url_for('user.setting_youtube_authorize') }}" role="button" id="youtube_authorize">Authorize</a>
        </div>
        {% endif %}
    </div>
    <label for="line_notify_credentials" class="col-form-label">Line Notify Account</label>
    <div class="input-group">
        {% if current_user.line_notify_credentials %}
        <input type="text" class="form-control" id="line_notify_credentials" value="{{ current_user.line_notify_credentials }}" aria-describedby="line_notify_revoke" readonly>
        <div class="input-group-append">
            <a class="btn btn-outline-secondary" href="{{ url_for('user.setting_line_notify_revoke') }}" role="button" id="line_notify_revoke">Revoke</a>
        </div>
        {% else %}
        <input type="text" class="form-control" id="line_notify_credentials" value="{{ current_user.line_notify_credentials }}" aria-describedby="line_notify_authorize" readonly>
        <div class="input-group-append">
            <a class="btn btn-outline-secondary" href="{{ url_for('user.setting_line_notify_authorize') }}" role="button" id="line_notify_authorize">Authorize</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}