{% extends "layout.html" %}

{% set page_title = "YouTube Subcription" %}

{% block body %}
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Channel Avatar</th>
            <th scope="col">Channel Name</th>
            <th scope="col">Channel ID</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for channel in channels %}
        <tr>
            <th scope="row">
                <img src="{{ channel.snippet.thumbnails.default.url }}" class="rounded-circle">
            </th>
            <td>{{ channel.snippet.title }}</td>
            <td>{{ channel.snippet.resourceId.channelId }}</td>
            {% if channel.status %}
                <td>{{ channel.status }}</td>
            {% else %}
                <td>
                    <a href="{{ url_for('channel_subscribe', channelid=channel.snippet.resourceId.channelId) }}">
                        {{ channel.status }}
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}