{% extends "layout.html" %}
{% set page_title = "YouTube Subcription" %}
{% block body %}
{% if not list_all %}
<nav>
    <ul class="pagination justify-content-center">
        {% if prev_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.youtube_subscription', page_token=prev_page) }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.youtube_subscription', list_all=True) }}">List All</a>
        </li>
        {% if next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.youtube_subscription', page_token=next_page) }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Channel Avatar</th>
            <th scope="col">Channel Name</th>
            <th scope="col">Channel ID</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for channel in channels %}
        <tr>
            <th scope="row">
                <img src="{{ channel.snippet.thumbnails.default.url }}" class="rounded-circle">
            </th>
            <td>{{ channel.snippet.title }}</td>
            <td>{{ channel.snippet.resourceId.channelId }}</td>
            {% if channel.status %}
            <td>{{ channel.status }}</td>
            {% else %}
            <td>
                <a href="{{ url_for('main.channel_subscribe', channelid=channel.snippet.resourceId.channelId) }}">
                    {{ channel.status }}
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not list_all %}
<nav>
    <ul class="pagination justify-content-center">
        {% if prev_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.youtube_subscription', page_token=prev_page) }}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.youtube_subscription', list_all=True) }}">List All</a>
        </li>
        {% if next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.youtube_subscription', page_token=next_page) }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}