body {
  padding-top: 5rem;
}

.line {
  display: inline-block;
}

#hero {
  height: 2rem;
}

#message-wrapper {
  height: 0;
  position: sticky;
  top: 100px;
  z-index: 1;
}

#subscribe-input {
  width: 300px;
  transition: all 0.2s ease-in-out;
}

/* #subscribe-input:focus {
    width: 400px;
} */

@media (min-width: 992px) {
  #username {
    margin-right: 1rem;
  }
}
