body {
  padding-top: 5rem;
}

pre {
  white-space: pre-wrap;
}

.line {
  display: inline-block;
}

#hero {
  height: 2rem;
}

#message-wrapper {
  height: 0;
  position: sticky;
  top: 100px;
  z-index: 1;
}

@media (min-width: 992px) {
  #username {
    margin-right: 1rem;
  }
}
